.grid-container {
  background-color: hsl(220, 41%, 89%);
  height: 100dvh;
  /* grid container properties */
  display: grid;
  gap: 0;
  align-items: stretch;
  grid-template-columns: 32em 1fr;
  grid-template-rows: 0fr 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main-content";
}

.sidebar {
  background-color: hsl(201, 79%, 46%);
  color: hsl(0, 0%, 100%);
  padding: 2.4em;
  height: 100%;
  width: 32em;
  position:fixed;
  overflow: scroll;
  /* grid item properties */
  grid-area: sidebar;
  /* flex container properties */
  display: flex;
  flex-direction: column;
  gap: 4.8em;

  .sidebar-header {
    /* flex container properties */
    display: flex;
    align-items: center;
    gap: 2.4em;

    img {
      width: 4.2em;
      height: 4.2em;
    }

    h1 {
      font-size: 2.8rem;
      font-weight: bold;
    }
  }

  ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    font-weight: bold;
    /* flex container properties */
    display: flex;
    flex-direction: column;
    gap: 1.6em;
    
    li {
      font-size: 2rem;
      /* flex container properties */
      display: flex;
      align-items: center;
      gap: 1.6em;

      img {
        width: 1.6em;
        height: 1.6em;
      }
    }
  }
}

.header {
  background-color: white;
  height: fit-content;
  /* grid item properties */
  grid-area: header;
  /* flex container properties */
  display: flex;
  flex-direction: column;
  
  .header-upper-row {
    padding: 1.2em 4.8em;
    /* flex container properties */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6.4em;
  
    .header-search {
      /* flex item properties */
      flex-grow: 1;
      /* flex container properties */
      display: flex;
      align-items: center;
      gap: 2em;

      img {
        width: 2.4em;
        height: 2.4em;
      }

      input {
        background-color: hsl(220, 41%, 89%);
        font-size: 1.4rem;
        border: none;
        border-radius: 1.6em;
        padding: 0.5em 1.2em;
        max-width: 64rem;
        /* flex item properties */
        flex-grow: 1;
      }
    }

    .header-user {
      /* flex container properties */
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 3.2em;

      img {
        width: 2.4em;
        height: 2.4em;
      }

      #user-avatar {
        width: 4.2em;
        height: 4.2em;
      }

      h2 {
        font-size: 1.8rem;
      }
    }


  }

  .header-lower-row {    
    padding: 1.6em 4.8em;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    gap: 1.6em 6.4em;

    .user-info {
      grid-row: 2 / 3;
      display: flex;
      flex-direction: row ;
      gap: 1.6em;

      #user-avatar {
        width: 6.4em;
        height: 6.4em;
      }

      h3 {
        font-size: 1.4em;
      }

      h2 {
        font-size: 2.1em;
      }
    }

    .header-buttons {
      grid-row: 2 / 3;
      display: flex;
      gap: 2.8em;

      button {
        background-color: hsl(201, 79%, 46%);
        color: hsl(0, 0%, 100%);
        border: none;
        padding: 0.7em;
        border-radius: 1.4em;
        font-size: 1.4em;
        font-weight: bold;
        width: 7em;
      }
    }
  }
}

.main-content {
  line-height: 1.3;
  padding: 1.6em;
  max-width: 128em;
  /* grid item properties */
  grid-area: main-content;
  align-self: start;
  justify-self: center;
  /* grid container properties */
  display: grid;
  grid-template-columns: 2.75fr 1fr;
  gap: 2.4em;
  grid-template-areas:
    "projects announcements"
    "projects trending";

  h1 {
    font-size: 2rem;
    font-weight: bold;
    max-width: fit-content;
    padding: 0.6em 0;
  }

  #projects {
    /* grid item properties */
    grid-area: projects;

    .project-cards {
      max-width: fit-content;
      /* grid container properties */
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 1fr;
      gap: 2.4em;

      .project-card {
        background-color: white;
        border-radius: 0.6em;
        padding: 2em 1.6em;
        font-size: 1.6rem;
        max-width: 24em;
        border-left: 0.6em solid hsl(41, 88%, 52%);

        h3 {
          text-wrap: nowrap;
        }

        p {
          max-height: 5em;
          overflow: auto;
        }

        .action-buttons {
          padding: 0.8em;
          padding-bottom: 0.4em;
          /* flex container properties */
          display: flex;
          gap: 1.2em;
          justify-content: flex-end;
          align-items: center;

          img {
            width: 1.6em;
            height: 1.6em;
          }
        }
      }
    }
  }

  #announcements {
    max-width: 28em;
    /* grid item properties */
    grid-area: announcements;

    .announcements {
      background-color: white;
      border-radius: 0.6em;
      padding: 2.4em 1.6em;
      max-height: 32em;
      min-height: 32em;
      overflow: scroll;
      /* flex container properties */
      display: flex;
      flex-direction: column;
      gap: 1.4em;
      
      .announcement-item {
        font-size: 1.2rem;
        max-height: 5.6em;
        overflow: hidden;
      }
    }
  }

  #trending {
    height: 50%;
    max-width: 28em;
    /* grid item properties */
    grid-area: trending;

    .trending {
      background-color: white;
      border-radius: 0.6em;
      padding: 2.4em;
      max-height: 30em;
      min-height: 30em;
      /* flex container properties */
      display: flex;
      flex-direction: column;
      gap: 1.6em;
      justify-content: center;

      .trending-item {
        font-size: 1.4rem;
        /* flex container properties */
        display: flex;
        gap: 1.6em;
        align-items: center;

        img {
          width: 3.6em;
          height: 3.6em;
        }
      }
    }
  }
}

  